@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #E8EAED;
  background-color: #272935;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-cointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #323543;
    font-size: 52px;
    margin-bottom: 1rem;
    animation: slideIn 1s forwards;
  }
  .clock {
    display: flex;
    animation: fadeIn 1s forwards;
    .clock-col {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      ul {
        margin: 20px 40px;
        list-style: none;
        .clock-slot {
          padding: 1rem;
          margin-bottom: 25px;
          font-size: 700;
          border-radius: 100px;
          background-color: #323543;
          transition: all 0.2s linear;
        }
      }
    }
  }
}

.l-active {
  background-color: #0066FF !important;
}

@media (max-width: 690px) {
  .clock {
    padding: 10px;
    .clock-col {
      ul {
        margin: 10px !important;
        .clock-slot {
          padding: 1rem !important;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

